doctype html
html
  include ./includes/_head.jade
  body
    include ./includes/_svg-sprite.jade
    include ./includes/_mixins.jade

    include ./includes/_header.jade
      
    .portfolio
      p.portfolio--title Portfolio

      section.portfolio--items
        
        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item1.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item2.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description
                
        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item3.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item4.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item5.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item6.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description
                
        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item7.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item8.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description
                
        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item9.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item10.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description
                
        .portfolio--item
          a(href='#')
            figure
              img(src='img/portfolio-item11.jpg')

              figcaption
                p.item--title Project name
                p.item--subtitle Project short description

    .btn-wrapper
      a.view-more(href='#') View More

    include ./includes/_footer.jade
